<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- dev -->
  <springProfile name="dev">
    <include resource="tosiltosil-yml/logback-dev.xml"/>
  </springProfile>

  <!-- stag -->
  <springProfile name="stag">
    <include resource="tosiltosil-yml/logback-stag.xml"/>
  </springProfile>
</configuration>