|===
|Name|Required|Description|Example

{{#cookies}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{#optional}}false{{/optional}}{{^optional}}true{{/optional}}{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{#example}}{{.}}{{/example}}{{^example}}-{{/example}}{{/tableCellContent}}

{{/cookies}}
|===