|===
|Name|Description

{{#cookies}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{#example}}{{.}}{{/example}}{{^example}}-{{/example}}{{/tableCellContent}}

{{/cookies}}
 |===